<!DOCTYPE html>
<html>
<head>
    <title>EAN seznam</title>
    <link rel="stylesheet" href="/public/default.css">
    <style>
    table {
      width: 50%;
    }
    
    td,
    th {
      text-align: left;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/barcodes/JsBarcode.ean-upc.min.js"></script>
</head>
<body>
    <% salesData.forEach(sale => { %>
        <table>
            <thead>
                <tr>
                    <th>Artikl</th>
                    <th>Velikost</th>
                    <th>Cena</th>
                    <th>Ks</th>
                    <th>Celkem</th>
                    <th>EAN</th>
                </tr>
            </thead>
            <tbody>
                <% sale.items.forEach((item, index) => { %>
                    <tr>
                        <td><%= item.productId %></td>
                        <td><%= item.size %></td>
                        <td><%= item.price %></td>
                        <td><%= item.count %></td>
                        <td><%= item.total %></td>
                        <td><svg class=<%= "barcode" + index %>
                            jsbarcode-format="ean13"
                            jsbarcode-value="<%= item.ean %>"
                            jsbarcode-textmargin="0"
                            jsbarcode-height="30"
                            jsbarcode-width="2">
                          </svg>
                            <script>
                                JsBarcode(".barcode" + <%= index %>).init();
                            </script>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% }) %>
    
</body>
</html>