<!DOCTYPE html>
<html>
<head>
    <title>Objednávky Primigistore.cz</title>
    <link rel="stylesheet" href="/public/default.css">
</head>
<body>
    <form method="GET" action="pmg/ppl">
        <a href="/refresh" class="button  button2">Obnovit</a>
        <a href="/products" class="button  button1">Zboží</a>
        <table>
                <tr>
                    <th><input type="checkbox" 
                        id="cbm" 
                        onchange="toggleCB(<%- JSON.stringify(ppl) %>, <%= ppl.length%>)">
                    </th>
                    <th>Datum</th>
                    <th>Číslo</th>
                    <th>Objednavatel</th>
                    <th>Doprava</th>
                    <th>Platba</th>
                    <th>Zaplaceno</th>
                </tr>
            <% ordersToSend.forEach((order, index) => { %>
                <tr>
                    <td><input type="checkbox" id= <%= "cb" + index %> name="ord" value=<%= order.id %>></td>
                    <td><%= order.date %></td>
                    <td><a href="order?id=<%= 'ordersToSend_' + index %>"><%= order.number %></a></td>
                    <td><%= order.name %></td>
                    <td><%= order.delivery %></td>
                    <td><%= order.payment %></td>
                    <td><%= order.status %></td>
                </tr>
            <% }) %>
        </table>
    </form>
    <br>
    <table>
        <tr>
            <th><input type="checkbox"></th>
            <th>Datum</th>
            <th>Číslo</th>
            <th>Objednavatel</th>
            <th>Doprava</th>
            <th>Platba</th>
            <th>Zaplaceno</th>
        </tr>
        <% ordersReserve.forEach((order, index) => { %>
            <tr>
                <td><input type="checkbox"></td>
                <td><%= order.date %></td>
                <td><a href="/order?id=<%= 'ordersReserve_' + index %>"><%= order.number %></a></td>
                <td><%= order.name %></td>
                <td><%= order.delivery %></td>
                <td><%= order.payment %></td>
                <td><%= order.status %></td>
            </tr>
        <% }) %>
    </table>
    <script type="text/javascript">
        function toggleCB( idToSend, allIdCount) {
            let status = document.getElementById("cbm").checked
            if (status) {
                for (let i=0; i<idToSend.length; i++) {
                    document.getElementById("cb" + idToSend[i]).checked = status
                }   
            } else {
                for (let i=0; i<allIdCount; i++) {
                    document.getElementById("cb" + i).checked = status
                }
            }
        }
    </script>
</body>
</html>