<%- include('partials/header') %>
<form method="GET" action="/ppl">
    <a href="/refresh" class="button button1">Obnovit</a>
    <a href="/products" class="button button1">Zboží</a>
    <a href="/return" class="button button1">Vrácení</a>
    <button class="button button1" action="Submit">PPL</button>
    <%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery.slice(0,3) == 'PPL' && order.toSend),
            name: 'PPL',
            cbTag: 'pp'}
    ) %>
    <%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery.slice(0,3) == 'Zás' && order.toSend),
            name: 'Zásilkovna',
            cbTag: 'za'}
    ) %>
    <%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery !== "Osobní odběr" && !order.toSend),
            name: 'Nezaplacené',
            cbTag: 'nz'}
    ) %>
</form>
<%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery === "Osobní odběr"),
            name: 'Osobní odběr',
            cbTag: 'oo'}
    ) %>
<script type="text/javascript">
    function toggleCB(cbTag, length) {
        const status = document.getElementById(cbTag+'m').checked
        for (i=0; i < length; i++) document.getElementById(cbTag + i).checked = status
    }
</script>
<%- include('partials/footer') %>