<%- include('partials/header') %>
<form method="GET" action="/ppl">
    <div style="max-width: 1000px;">
        <div style="float: right;"><%= user %></div>
        <div style="display: flex; flex-flow: row wrap; width: 50%">
            <a href="/refresh" class="button button1">Obnovit</a>
            <a href="/products" class="button button1">Zboží</a>
            <a href="/return" class="button button1">Vrácení</a>
            <button class="button button1" action="Submit">GLS</button>
        </div>
    </div>
    <%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery.slice(0,3) == 'PPL' && order.toSend),
            name: 'PPL',
            cbTag: 'pp'}
    ) %>
    <%- include('partials/tab_orders', {
        orders: ordersList.filter(order => order.delivery.slice(0,3) == 'DPD' && order.toSend),
        name: 'DPD',
        cbTag: 'dp'}
    ) %>
    <%- include('partials/tab_orders', {
        orders: ordersList.filter(order => order.delivery.slice(0,3) == 'GLS' && order.toSend),
        name: 'GLS',
        cbTag: 'gl'}
    ) %>
    <%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery.startsWith('Z') && order.toSend),
            name: 'Zásilkovna',
            cbTag: 'za'}
    ) %>
    <%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery !== "Osobní odběr" && !order.toSend),
            name: 'Nezaplacené',
            cbTag: 'nz'}
    ) %>
</form>
<%- include('partials/tab_orders', {
            orders: ordersList.filter(order => order.delivery === "Osobní odběr"),
            name: 'Osobní odběr',
            cbTag: 'oo'}
    ) %>
<script type="text/javascript">
    function toggleCB(cbTag, length) {
        const status = document.getElementById(cbTag+'m').checked
        for (i=0; i < length; i++) document.getElementById(cbTag + i).checked = status
    }
</script>
<%- include('partials/footer') %>