<!DOCTYPE html>
<html>
<head>
    <title>Objednávky Primigistore.cz</title>
    <link rel="stylesheet" href="/public/default.css">
    <style>
        @media 
        only screen and (max-width: 414px),
        (min-device-width: 360px) and (max-device-width: 414px)  {
            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr { 
                display: block; 
            }
            
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            
            tr { border: 1px solid #ccc; }
            
            td { 
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 30%; 
            }
            
            td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
            }
            
            /*
            Label the data
            */
            td:nth-of-type(1):before { content: "Číslo"; }
            td:nth-of-type(2):before { content: "Photo"; }
            td:nth-of-type(3):before { content: "Číslo produktu"; }
            td:nth-of-type(4):before { content: "Velikost"; }
            td:nth-of-type(5):before { content: "Cena"; }
            td:nth-of-type(6):before { content: "Ks"; }
            td:nth-of-type(7):before { content: "Prodejna"; }
            td:nth-of-type(8):before { content: "Uloženo"; }
        }
    </style>
</head>
<body>
    <h4 style="font-size: 1.5em;">Objednávka <%= id %></h4>
    <table>
        <thead>
            <tr>
                <th>Číslo</th>
                <th>Photo</th>
                <th>Číslo produktu</th>
                <th>Velikost</th>
                <th>Cena</th>
                <th>Ks</th>
                <th>Prodejna</th>
                <th>Uloženo</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach((item, index) => { %>
                <tr>
                    <td style="font-size: 1.5em;"><%= index+1 %></td>
                    <td><a href="https://media.primigistore.cz/webp/<%= item.productId.replace(' ', '-') %>-1.webp"><img src="https://media.primigistore.cz/webp/<%= item.productId.replace(' ', '-') %>-1.webp" alt="" border=3 width=100></img></td>
                    <td><a style="font-size: 2em;" href="/return?item=<%= item.productId %>*<%= item.size %>"><%= item.productId %></a></td>
                    <td style="font-size: 2em;"><%= item.size %></td>
                    <td style="font-size: 1.5em;"><%= item.price + ' Kč' %></td>
                    <td style="font-size: 1.5em;"><%= item.count %></td>
                    <td style="font-size: 1.5em;"><%= item.storeID %></td>
                    <td><%= item.date %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <p style="font-size: 1.5em;">Doprava: <%= delivery %></p>
    <p style="font-size: 1.5em;">Platba: <%= payment %></p>
    <p><a class="button button1" href="/">Zpátky</a></p>
</body>
</html>