<%- include('partials/header') %>
<form method="GET" action="/products">
    <label for="pname">Artikl: </label>
    <input type="text" id="pname" name="item">
    <input type="submit" value="Hledat" class="button button2">    
    <% stores.forEach(storeID => { %>
        <h3>Zboží <%= storeID %></h3>
        <a href="sell?id=<%= storeID %>" class="button button1">Prodej v Beststore</a>
        <a href="sales?id=<%= storeID %>" class="button button1">Historie</a>
        <a href="/" class="button button1">Zpátky</a>
        <a href="products?sort=1" class="button button1">Artikl</a>
        <%- include('partials/tab_products', {
            products: productList.filter(item => item.storeID==storeID&& item.action=='p'),
            name: productList.filter(item => item.storeID==storeID&& item.action=='p').length +' ks. připraveno pro prodej v Beststore',
            action: 'n_'}
        ) %>
        <%- include('partials/tab_products', {
            products: productList.filter(item => item.storeID==storeID && item.action!=='p' && (item.sale && item.action !== 'u')),
            name: 'Zboží ke zpracovaní',
            action: 'p_'}
        ) %>
        <%- include('partials/tab_products', {
            products: productList.filter(item => item.storeID==storeID && item.action!=='p' && (!item.sale && item.action !== 'u')),
            name: 'Rezervované zboží',
            action: 'p_'}
        ) %>
         <%- include('partials/tab_products', {
            products: productList.filter(item => item.storeID==storeID && item.action!=='p' && item.action === 'u'),
            name: 'Zpracované zboží',
            action: 'p_'}
        ) %>
        <br> <br>
    <% }) %>
</form>
<%- include('partials/tab_products', {
    products: productList.filter(item => !stores.includes(item.storeID)),
    name: 'Zbytek',
    action: ''}
) %>
<script type="text/javascript">
    window.onload = function() {
            var input = document.getElementById("pname").focus();
        }
</script>
<%- include('partials/footer') %>