<!DOCTYPE html>
<html>
<head>
    <title>Objednávky Primigistore.cz</title>
    <link rel="stylesheet" href="/public/default.css">
    <style>
        @media 
        only screen and (max-width: 414px),
        (min-device-width: 360px) and (max-device-width: 414px)  {
            table, thead, tbody, th, td, tr { 
                display: block; 
            }

            thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            
            tr { border: 1px solid #ccc; }
            
            td { 
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 30%; 
            }
            
            td:before { 
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
            }
            
            td:nth-of-type(1):before { content: "Akce"; }
            td:nth-of-type(8):before { content: "Objednávka"; }
            td:nth-of-type(2):before { content: "Photo"; }
            td:nth-of-type(3):before { content: "Typ"; }
            td:nth-of-type(4):before { content: "Artikl"; }
            td:nth-of-type(5):before { content: "Velikost"; }
            td:nth-of-type(6):before { content: "Cena"; }
            td:nth-of-type(7):before { content: "Ks"; }
            td:nth-of-type(9):before { content: "Prodejna"; }
        }
    </style>
</head>
<body>
    <form method="GET" action="/products">
        <label for="pname">Artikl: </label>
        <input type="text" id="pname" name="item">
        <input type="submit" value="Hledat">    
        <% stores.forEach(storeID => { %>
            <h3>Zboží <%= storeID %></h3>
            <a href="sell?id=<%= storeID %>" class="button button2">Prodej v Beststore</a>
            <a href="sales?id=<%= storeID %>" class="button button1">Historie</a>
            <a href="/" class="button button1">Zpátky</a>
            <br> <br>
            <p>Připraveno pro prodej v Beststore</p>
            <table>
                <thead>
                    <tr>
                        <th>Akce</th>
                        <th>Objednávka</th>
                        <th>Photo</th>
                        <th>Typ</th>
                        <th>Artikl</th>
                        <th>Velikost</th>
                        <th>Cena</th>
                        <th>Ks</th>
                        <th>Prodejna</th>
                    </tr>
                </thead>
                <tbody>
                    <% productList.forEach((item, index) => { %>
                        <% if(item.storeID==storeID&& item.action=='p') { %>
                            <tr>
                                <td>
                                    <button class="button button2" value=<%= 'n_'+index %> name="action" type="submit">Vrátit</button>
                                </td>
                                <td><a href="/order?orderid=<%= item.orderNumber %>"><%= item.orderNumber %></a></td>
                                <td><img src="https://primatrend.cz/pmg/pic/<%= item.productId %>-1.jpg" alt="" border=1 width=75></img></td>
                                <td><%= item.productType %></td>
                                <td><%= item.productId %></td>
                                <td><%= item.size %></td>
                                <td><%= item.storePrice %></td>
                                <td><%= item.count %></td>
                                <td><%= item.storeID %></td>
                            </tr>
                    <% }}) %>
                </tbody>
            </table>
            <br> <br>
            <p>Zboží ke zpracovaní</p>
            <table>
                <thead>
                    <tr>
                        <th>Akce</th>
                        <th>Objednávka</th>
                        <th>Photo</th>
                        <th>Typ</th>
                        <th>Artikl</th>
                        <th>Velikost</th>
                        <th>Cena</th>
                        <th>Ks</th>
                        <th>Prodejna</th>
                    </tr>
                </thead>
                <tbody>
                    <% productList.forEach((item, index) => { %>
                        <% if(item.storeID==storeID && item.action!=='p') { %>
                            <tr>
                                <td>
                                    <% if(item.sale && item.action !== 'u'){ %>
                                        <button class="button button2" value=<%= 'p_'+index %> name="action" type="submit">Prodej</button>
                                    <% } else if (item.action !== 'u') {%>
                                        Rezervace
                                    <% } else { %>
                                        Uloženo v BS
                                    <% } %>
                                </td>
                                <td><a href="/order?orderid=<%= item.orderNumber %>"><%= item.orderNumber %></a></td>
                                <td><img src="https://primatrend.cz/pmg/pic/<%= item.productId %>-1.jpg" alt="" border=1 width=75></img></td>
                                <td><%= item.productType %></td>
                                <td><%= item.productId %></td>
                                <td><%= item.size %></td>
                                <td><%= item.price %></td>
                                <td><%= item.count %></td>
                                <td><%= item.storeID %></td>
                            </tr>
                    <% }}) %>
                </tbody>
            </table>
            <br> <br>
        <% }) %>
    </form>
    <br>
    <h3>Zbytek</h3>
    <table>
        <thead>
            <tr>
                <th>Akce</th>
                <th>Objednávka</th>
                <th>Photo</th>
                <th>Typ</th>
                <th>Artikl</th>
                <th>Velikost</th>
                <th>Cena</th>
                <th>Ks</th>
                <th>Prodejna</th>
            </tr>
        </thead>
        <tbody>
            <% productList.forEach((item, index) => { %>
                <% if(!stores.includes(item.storeID)) { %>
                    <tr>
                        <td></td>
                        <td><a href="/order?orderid=<%= item.orderNumber %>"><%= item.orderNumber %></a></td>
                        <td><img src="https://primatrend.cz/pmg/pic/<%= item.productId %>-1.jpg" alt="" border=1 width=75></img></td>
                        <td><%= item.productType %></td>
                        <td><%= item.productId %></td>
                        <td><%= item.size %></td>
                        <td><%= item.price %></td>
                        <td><%= item.count %></td>
                        <td><%= item.storeID %></td>
                    </tr>
            <% }}) %>
        </tbody>
    </table>
    <script type="text/javascript">
        window.onload = function() {
                var input = document.getElementById("pname").focus();
            }
        function toggleButton(buttonID) {
            let button = document.getElementById(buttonID)
            const newItem = document.createElement('p')
            newItem.innerHTML = button.innerText
            button.parentNode.replaceChild(newItem, button)
            button = null
        }
    </script>
</body>
</html>