<%- include('partials/header') %>
<script>
    window.onload = function() {
        var input = document.getElementById("order").focus();
    }
</script>
<h2>Vratky</h2>
<form method="GET" action="returns">
    <label for="order">Objednávka: </label>
    <input type="text" id="order" name="orderid">
    <input type="submit" value="Hledat">
</form>
<p><a href="/return" class="button button1">Zpátky</a>
<% if (isAdmin) { %>
    <a href="/abo" class="button button1">ABO</a>
    <a href="/abo?save=true" class="button button1">Uhrazeno</a>
<% } %>
</p>
<table>
    <tr>
        <th>Datum</th>
        <th>Objednávka</th>
        <th>Faktura</th>
        <th>Ks</th>
        <th>Častka</th>
        <th>Vraceno</th>
        <th>Účet</th>
        <th>Banka</th>
        <th>VS</th>
        <th>Pozn</th>
    </tr>
    <% returns.forEach( item => { %>
        <tr>
            <td><%= item.date %></td>
            <td><%= item.order %></td>
            <td><%= item.invoice %></td>
            <td><%= item.totalCount%></td>
            <td><%= item.totalSum%></td>
            <td><%= item.datePay%></td>
            <td><%= item.account%></td>
            <td><%= item.bank%></td>
            <td><%= item.vs%></td>
            <td><%= item.comment%></td>
        </tr>
    <% }) %>
</table>
<%- include('partials/footer') %>