<!DOCTYPE html>
<html>
<head>
    <title>Objednávky Primigistore.cz</title>
    <link rel="stylesheet" href="/public/default.css">
    <style>
    table {
      width: 50%;
    }
    
    td,
    th {
      text-align: left;
    }
  </style>
</head>
<body>
    <h2>Prodeje za <%= date %> celkem <%= daySales %> Kč</h2>
    <form>
        <input type="date" value="<%= date %>" name="date">
        <button name="id" value="<%= id %>" class="button button1">Prodeje</button>
        <a href="/products" class="button button1">Zpátky</a>
    </form>
    <% salesData.forEach(sale => { %>
        <h4>
            <% if (sale.from) { %>
                <% if (sale.from === id) { %>
                    <%= "na : " + sale.storeID + " - " %>
                <% } else { %>
                    <%= "z : " + sale.from + " - " %>
                <% } %>
            <% } %>
            <a href="ean?id=<%= sale._id %>">Celkem <%= sale.totalSum %> Kč </a>
            <% if (sale.voucher) { %>
                Voucher <%= sale.voucher %> Kč
            <% } %>
        </h4>
        <table>
            <thead>
                <tr>
                    <th>Artikl</th>
                    <th>Velikost</th>
                    <th>Cena</th>
                    <th>Ks</th>
                    <th>Celkem</th>
                    <th>Objednávka</th>
                </tr>
            </thead>
            <tbody>
                <% sale.items.forEach(item => { %>
                    <tr>
                        <td><%= item.productId %></td>
                        <td><%= item.size %></td>
                        <td><%= item.price %></td>
                        <td><%= item.count %></td>
                        <td><%= item.total %></td>
                        <td><a href="order?orderid=<%= item.orderId %>"><%= item.orderId %></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% }) %>
</body>
</html>